Repository AlexGuillard/Area, pull requests merged in 2024-01, with the labels that each got.

#80 feat(discord): discord service OAuth2
  README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/discord/discord.controller.spec.ts
  server/src/discord/discord.controller.ts
  server/src/discord/discord.guard.ts
  server/src/discord/discord.module.ts
  server/src/discord/discord.service.spec.ts
  server/src/discord/discord.service.ts
  server/src/strategy/discord.strategy.ts
Labels: back, service

#81 feat(GithuService (76 > main)) GitHub OAuth 2.0
  README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  server/package-lock.json
  server/package.json
  server/src/app.module.ts
  server/src/github-auth/dto/github.dto.ts
  server/src/github-auth/dto/index.ts
  server/src/github-auth/github-auth.controller.spec.ts
  server/src/github-auth/github-auth.controller.ts
  server/src/github-auth/github-auth.module.ts
  server/src/github-auth/github-auth.service.ts
  server/src/google-auth/google-auth.controller.ts
  server/src/strategy/github.strategy.ts
  server/src/strategy/google.strategy.ts
Labels: back, service

#101 fea(server)t: info area
  server/src/area/area.controller.ts
  server/src/area/area.service.spec.ts
  server/src/area/area.service.ts
Labels: back

#100 fix(areas): change return of list areas
  server/src/area/area.service.spec.ts
  server/src/area/area.service.ts
  server/src/area/dto/area.dto.ts
Labels: back

#108 refactor(server): clear code
  server/src/action/action.controller.ts
  server/src/app.module.ts
  server/src/area/area.controller.ts
  server/src/auth/auth.controller.ts
  server/src/mailing/mailing.controller.ts
  server/src/reaction/mailing/mailing.module.ts
  server/src/reaction/mailing/mailing.service.ts
  server/src/reaction/reaction.controller.ts
  server/src/reaction/reaction.module.ts
  server/src/reaction/reaction.service.ts
  server/src/services/discord/discord.controller.spec.ts
  server/src/services/discord/discord.controller.ts
  server/src/services/discord/discord.guard.ts
  server/src/services/discord/discord.module.ts
  server/src/services/discord/discord.service.spec.ts
  server/src/services/discord/discord.service.ts
  server/src/services/github-auth/dto/github.dto.ts
  server/src/services/github-auth/dto/index.ts
  server/src/services/github-auth/github-auth.controller.spec.ts
  server/src/services/github-auth/github-auth.controller.ts
  server/src/services/github-auth/github-auth.module.ts
  server/src/services/github-auth/github-auth.service.ts
  server/src/services/google-auth/dto/google.dto.ts
  server/src/services/google-auth/google-auth.controller.spec.ts
  server/src/services/google-auth/google-auth.controller.ts
  server/src/services/google-auth/google-auth.module.ts
  server/src/services/google-auth/google-auth.service.spec.ts
  server/src/services/google-auth/google-auth.service.ts
  server/src/services/google-auth/google-oauth.guard.ts
  server/src/services/services.controller.ts
  server/src/services/services.module.ts
Labels: back, Refactor

#107 fix: change BASE_URL to SERVER_URL
  README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  server/src/strategy/github.strategy.ts
  server/src/strategy/google.strategy.ts
Labels: back

#110 feat(102): route for parameters actions/reactions
  server/src/about/about.service.ts
  server/src/action/action.controller.ts
  server/src/action/action.module.ts
  server/src/action/action.service.ts
  server/src/action/time/dto/index.ts
  server/src/action/time/dto/time.dto.ts
  server/src/action/time/time.module.ts
  server/src/action/time/time.service.spec.ts
  server/src/action/time/time.service.ts
  server/src/app.module.ts
  server/src/reaction/mailing/dto/index.ts
  server/src/reaction/mailing/dto/mailing.dto.ts
  server/src/reaction/mailing/mailing.service.ts
  server/src/reaction/reaction.controller.ts
  server/src/reaction/reaction.service.ts
Labels: back

#111 feat(server): area parameters
  server/prisma/migrations/20240105155451_db/migration.sql
  server/prisma/schema.prisma
  server/src/action/action.module.ts
  server/src/action/action.service.ts
  server/src/action/time/time.module.ts
  server/src/area/area.controller.ts
  server/src/area/area.service.spec.ts
  server/src/area/area.service.ts
  server/src/area/dto/area.dto.ts
  server/src/reaction/reaction.service.ts
  server/src/services/discord/discord.module.ts
  server/src/services/discord/discord.service.spec.ts
  server/src/services/discord/discord.service.ts
Labels: back, DB

#114 fix(GoogleService): check the enum GOOGLE to catch the random token
  server/src/reaction/mailing/mailing.service.ts
Labels: back, service

#99 feat(apk): expose apk in web
  web/Dockerfile.dev
  web/Dockerfile.prod
Labels: web, mobile

#104 fix(docker compose): remove useless command
  docker-compose.dev.yml
Labels: CI/CD

#105 style(web): set theme of google button dark and add the button in loggin page
  web/src/Component/GoogleButton/GoogleButton.tsx
  web/src/Page/Login/login.tsx
Labels: web

#109 feat(docker compose): add pgadmin in dev
  docker-compose.dev.yml
Labels: CI/CD

#115 feat(server): area PUT
  server/src/area/area.controller.ts
  server/src/area/area.service.ts
Labels: back

#119 117 json save action db
  server/prisma/migrations/20240108150338_db/migration.sql
  server/prisma/schema.prisma
  server/src/action/action.service.ts
  server/src/action/time/time.service.ts
  server/src/app.module.ts
  server/src/area/area.service.spec.ts
  server/src/reaction/reaction.module.ts
Labels: back, DB

#88 feat(51 link loginregister mobile > main): add navigation between pages and edit and add component
  docker-compose.dev.yml
  docker-compose.prod.yml
  mobile/Dockerfile.dev
  mobile/Dockerfile.prod
  mobile/__tests__/App.test.tsx
  mobile/__tests__/Login.test.tsx
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/areamobile/MainActivity.kt
  mobile/android/app/src/main/java/com/areamobile/MainApplication.kt
  mobile/android/app/src/main/res/values/strings.xml
  mobile/android/settings.gradle
  mobile/app.json
  mobile/assets/FAB.png
  mobile/assets/SelectInput.png
  mobile/index.js
  mobile/ios/Podfile
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/mobile.xcodeproj/xcshareddata/xcschemes/AreaMobile.xcscheme
  mobile/ios/mobile/AppDelegate.h
  mobile/ios/mobile/AppDelegate.mm
  mobile/ios/mobile/Images.xcassets/AppIcon.appiconset/Contents.json
  mobile/ios/mobile/Images.xcassets/Contents.json
  mobile/ios/mobile/Info.plist
  mobile/ios/mobile/LaunchScreen.storyboard
  mobile/ios/mobile/main.m
  mobile/ios/mobileTests/Info.plist
  mobile/ios/mobileTests/mobileTests.m
  mobile/package.json
  mobile/src/components/ReactionList/reactionList.tsx
  mobile/src/components/ServiceList/serviceList.tsx
  mobile/src/components/addComponent.tsx
  mobile/src/components/editComponent.tsx
  mobile/src/constants/test_data.tsx
  mobile/src/pages/App.tsx
  mobile/src/pages/AreaPage.tsx
  mobile/src/pages/Login.tsx
  mobile/src/pages/Register.tsx
  mobile/src/pages/Service.tsx
  mobile/tsconfig.json
Labels: mobile

#121 feat(reaction): add reaction discord
  docker-compose.dev.yml
  docker-compose.prod.yml
  server/src/about/about.service.ts
  server/src/reaction/discord/discord.module.ts
  server/src/reaction/discord/discord.service.spec.ts
  server/src/reaction/discord/discord.service.ts
  server/src/reaction/discord/dto/discord.dto.ts
  server/src/reaction/discord/dto/index.ts
  server/src/reaction/reaction.module.ts
  server/src/strategy/discord.strategy.ts
Labels: back

#140 feat(github): action/reaction
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20240109161156_db/migration.sql
  server/src/about/about.service.ts
  server/src/action/action.module.ts
  server/src/action/github/dto/github.dto.ts
  server/src/action/github/dto/index.ts
  server/src/action/github/github.module.ts
  server/src/action/github/github.service.spec.ts
  server/src/action/github/github.service.ts
  server/src/reaction/github/dto/github.dto.ts
  server/src/reaction/github/dto/index.ts
  server/src/reaction/github/github.module.ts
  server/src/reaction/github/github.service.spec.ts
  server/src/reaction/github/github.service.ts
  server/src/reaction/reaction.module.ts
Labels: back, service

#158 fix(services): connexion with same email
  server/package-lock.json
  server/package.json
  server/src/main.ts
  server/src/services/discord/discord.service.spec.ts
  server/src/services/discord/discord.service.ts
  server/src/services/dto/index.ts
  server/src/services/dto/services.dto.ts
  server/src/services/github-auth/github-auth.controller.ts
  server/src/services/github-auth/github-auth.service.ts
  server/src/services/google-auth/google-auth.controller.ts
  server/src/services/google-auth/google-auth.service.ts
  server/src/services/services.controller.ts
  server/src/services/services.service.ts
  server/src/services/spotify-auth/spotify-auth.controller.ts
  server/src/services/spotify-auth/spotify-auth.service.ts
  server/src/strategy/github.strategy.ts
  web/src/App.tsx
  web/src/Page/Services/serviceConnexion.tsx
  web/src/Page/Services/services.tsx
Labels: back

#157 feat(128 > main) feat possible actionsreactions for spotify service
  server/package-lock.json
  server/src/about/about.service.ts
  server/src/action/action.module.ts
  server/src/action/spotify/dto/spotify.dto.ts
  server/src/action/spotify/spotify.module.ts
  server/src/action/spotify/spotify.service.spec.ts
  server/src/action/spotify/spotify.service.ts
  server/src/app.module.ts
  server/src/reaction/reaction.module.ts
  server/src/reaction/spotify/dto/spotify.dto.ts
  server/src/reaction/spotify/spotify.module.ts
  server/src/reaction/spotify/spotify.service.ts
  server/src/services/spotify-auth/spotify-auth.controller.ts
  server/src/strategy/spotify.strategy.ts
Labels: back, service

#163 feat(159 > main): feat meteo service
  docker-compose.dev.yml
  docker-compose.prod.yml
  server/package-lock.json
  server/prisma/migrations/20240111162404_db/migration.sql
  server/prisma/schema.prisma
  server/src/about/about.service.ts
  server/src/action/action.module.ts
  server/src/action/openweather/dto/openweather.dto.ts
  server/src/action/openweather/openweather.module.ts
  server/src/action/openweather/openweather.service.spec.ts
  server/src/action/openweather/openweather.service.ts
  server/src/auth/auth.service.ts
Labels: back, service

#172 fix(routes): token in header
  server/src/action/action.controller.ts
  server/src/action/time/time.service.ts
  server/src/area/area.controller.ts
  server/src/me/me.controller.ts
  server/src/reaction/reaction.controller.ts
  web/src/Component/Add/add.tsx
  web/src/Component/Edit/edit.tsx
  web/src/Page/Area/area.tsx
Labels: web, back

#181 feat(112 > main): fix google connection
  server/src/auth/auth.service.ts
  web/src/Component/GoogleButton/GoogleButton.tsx
Labels: back, service

#182 feat(server): route logout / route delete user
  server/prisma/migrations/20240112125429_db/migration.sql
  server/prisma/schema.prisma
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
Labels: back

#185 feat: add WebView to mobile
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/areamobile/MainApplication.kt
  mobile/android/build.gradle
  mobile/android/settings.gradle
  mobile/package.json
Labels: mobile

#193 Fix:(190 > main): fix add all eventemitter for spotify actions
  server/src/reaction/spotify/spotify.service.ts
Labels: back, service

#199 refactor(198 > main): fix update action & reaction in edit component
  mobile/src/components/editComponent.tsx
  web/src/Component/Edit/edit.css
  web/src/Component/Edit/edit.tsx
Labels: bug, web, mobile

#200 refactor(191 > main): add logo service to action & reaction list in edit
  web/src/Component/Edit/edit.css
  web/src/Component/Edit/edit.tsx
Labels: bug, web

#202 refactor(201 > main): add send boolean to back
  mobile/src/components/addComponent.tsx
  mobile/src/components/editComponent.tsx
  web/src/Component/Add/add.tsx
  web/src/Component/Edit/edit.tsx
Labels: bug, web, mobile

#203 feat(mobile): connexion services
  README.md
  mobile/env.d.ts
  mobile/src/components/ServiceList/serviceList.tsx
  mobile/src/components/addComponent.tsx
  mobile/src/components/editComponent.tsx
  mobile/src/pages/App.tsx
  mobile/src/pages/AreaPage.tsx
  mobile/src/pages/Login.tsx
  mobile/src/pages/Register.tsx
  mobile/src/pages/Service.tsx
  mobile/src/pages/ServiceConnexion.tsx
  mobile/src/pages/WebView/DiscordWebView.tsx
  mobile/src/pages/WebView/GithubWebView.tsx
  mobile/src/pages/WebView/GoogleWebView.tsx
  mobile/src/pages/WebView/SpotifyWebView.tsx
  web/src/Page/Services/serviceConnexion.tsx
Labels: mobile

#206 feat(GoogleService): fix reaction email
  server/src/reaction/mailing/dto/mailing.dto.ts
  server/src/reaction/mailing/mailing.service.ts
  server/templates/action.hbs
Labels: back, service

#205 feat: couldown action time
  server/src/about/about.service.ts
  server/src/action/time/dto/time.dto.ts
  server/src/action/time/time.service.ts
Labels: back

#210 feat(mobile): add google auth component
  README.md
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/areamobile/MainActivity.kt
  mobile/android/app/src/main/java/com/areamobile/MainApplication.kt
  mobile/env.d.ts
  mobile/package.json
  mobile/src/components/GoogleButton.tsx
  mobile/src/pages/Login.tsx
  mobile/src/pages/Register.tsx
  mobile/src/pages/ServiceConnexion.tsx
Labels: mobile

#212 refactor(mobile): fix display issues in AreaPage
  mobile/src/components/addComponent.tsx
  mobile/src/pages/AreaPage.tsx
Labels: mobile

#215 fix(Weather): :ambulance: change actionId by weather struct
  server/src/action/openweather/openweather.service.ts
Labels: back, service

#217 216 feat spotify reaction premium
  server/src/about/about.service.ts
  server/src/reaction/spotify/spotify.service.ts
Labels: back, service

#218 213 fix area list display
  mobile/assets/Clock.png
  mobile/assets/Weather.png
  mobile/src/components/addComponent.tsx
  mobile/src/components/areaCard.tsx
  mobile/src/pages/AreaPage.tsx
Labels: mobile
